//breakpoints
alpha = 600px
beta  = 900px

//global colors
z-primary   = #504B68
z-secondary = white
primary-shifted = hue(z-primary, 35%)
z-accent = darken(primary-shifted, 40%)

//spacing
section-space = 3rem
paragraph-space = 1.5rem

//typography
font-base = 1.6rem
font-small = font-base * .8
font-medium = 2.2rem
font-large = 3rem
base-lh = font-base * 1.555555555
lh-medium = 2.5rem
lh-large = 3.3rem
border-width = 2rem