//standard transition style
z-transition =
    transition all .15s ease-in

//unstyled list
plainList =
    list-style none
    li
        display inline-block

//accent line

.accent-line
    height 1rem
    width 14rem
    background color-accent
    margin-bottom 2.5rem

.accent-line--alt
    height 1rem
    width 14rem
    margin-left auto
    margin-right 0
    background color-secondary
    margin-bottom 2.5rem