html
    font-size 62.5%

body
    font-size base-font
    line-height base-lh
    font-family 'open-sans', sans-serif

img
    max-width 100%
    height auto

p, ul, ol
    margin-bottom paragraph-space

main
    flex 1
    +above(alpha)
        width 60rem
        margin 0 auto