//breakpoints
alpha = 600px
beta  = 900px
gamma = 1200px

//global colors
color-primary        = #48435E
color-primary--light = lighten(color-primary, 30%)
color-secondary      = #3e372d
color-accent         = #AD4444
color-background     = white

//project colors
color-baywood = #1c7bac
color-eye     = #EC407A

//spacing
space = 2rem


//typography variables
font-base   = 1.8rem
font-small  = font-base * .8rem
font-medium = 2.2rem
font-xmedium = 2.8rem
font-large  = 3.8rem
font-xlarge = 4.2rem
lh-small    = 1.85rem
lh-base     = font-base * 1.555555555rem
lh-medium   = 2.5rem
lh-xmedium = 2.8rem
lh-large    = 3.8rem
lh-xlarge   = 4.2rem
//type styles

font-base =
    font-size font-base
    line-height lh-base

font-small =
    font-size font-small
    line-height lh-small

font-medium =
    font-size font-medium
    line-height lh-medium

font-xmedium =
    font-size font-xmedium
    line-height lh-xmedium

font-large =
    font-size font-large
    line-height lh-large

font-xlarge =
    font-size font-xlarge
    line-height lh-xlarge
