html
    font-size 62.5%

body
    {font-base}
    font-family 'Sweden_Sans', sans-serif
    background color-background
    color color-primary

img
    max-width 100%
    height auto

p, ul, ol, img
    margin-bottom paragraph-space

ul
    list-style-position inside

main
    flex 1

h1, h2, h3, h4, h5, h6
    {font-medium}
    +above(beta)
        {font-large}

a
    {z-transition}
    text-decoration none
    color inherit
    &:hover
        color color-accent

p a
    color color-accent
    font-weight bold
    &:hover
        text-decoration underline

.content
    +above(alpha)
        col(2/3)
.sidebar
    +above(alpha)
        col(1/3)
