//breakpoints
alpha = 600px

//global colors
z-primary = lighten(black, 15%)
z-accent  = salmon


//spacing
section-space = 3rem
paragraph-space = 1.5rem

//typography
base-font = 1.6rem
small-font = base-font * .8

base-lh = base-font * 1.555555555

//border (border.styl)
border-width = 2rem
border-color = z-primary