html
    font-size 62.5%

body
    {font-base}
    font-family 'Sweden Sans', sans-serif
    background z-secondary
    color z-primary

img
    max-width 100%
    height auto

p, ul, ol, img
    margin-bottom paragraph-space

ul
    list-style-position inside

main
    flex 1

h1, h2, h3, h4, h5, h6
    {font-medium}
    +above(beta)
        {font-large}

a
    text-decoration none
    color inherit
    {z-transition}
    &:hover
        color salmon