//remove link styles
plainLink =
    text-style none
    text-decoration none
    color inherit
    &:visited
        color inherit

//standard transition style
z-transition =
    transition all .1s ease-in
    
//unstyled list
plainList--right =
    list-style none
    display inline-block
    float right