//border-width in 'base-variables.styl'

.border-top, .border-bottom, .border-left, .border-right 
    display none 
    +above(beta)
        display block
    background border-color
    position fixed
    z-index 999
   
.border-left, .border-right 
    height 100%
    width border-width
   
.border-left  
    left 0
.border-right  
    right 0
        
.border-top, .border-bottom 
    left 0 
    right 0
    height border-width
    width 100%
   
.border-top  
    top 0
.border-bottom  
    bottom 0