.box
    col(1/1)
    clear both
    background color-secondary
    overflow hidden

.box__title
    margin-bottom 1rem

.box__marker
    height 1rem
    width 14rem
    background color-accent
    margin-bottom 2.5rem

.box__content
    col(2/3)
    float right
    margin 10rem 0 0 0
    padding 5rem
    background color-background