.box
    +below(alpha)
        margin-top 2rem
    col(1/1)
    clear both
    background color-secondary
    overflow hidden

.box__title
    margin-bottom 1rem

.box__marker
    height 1rem
    width 14rem
    background color-accent
    margin-bottom 2.5rem

.box__content
    padding 2rem 2rem 2rem 3rem
    margin-top 4rem
    background color-background
    width 90%
    float right
    +above(alpha)
        margin 10rem 0 0 0
        col(2/3)
        padding 5rem
        float right




