.case-studies-title
    position absolute
    top 2rem
    left 2rem
    z-index 200

.case-studies-box
    margin 2rem 0
    height 40rem
    position relative
    background color-primary
    col(1)
    color color-background

.case
    {z-transition}
    height 20rem
    position relative
    span(1/1)
    +above(beta)
        span(1/2)
        height 100%

.eye-case
    position relative
    background url("/assets/img/eye-featured.jpg")
    background-size cover
    &:after
        position absolute
        width 100%
        height 100%
        background alpha(color-primary, .7)
        {z-transition}
    &:hover:after
            background alpha(color-eye, .5)

.baywood-case
    position relative
    background url("/assets/img/baywood-featured.jpg")
    background-size cover
    &:after
        position absolute
        width 100%
        height 100%
        background alpha(color-primary, .7)
        {z-transition}
    &:hover:after
        background alpha(color-baywood, .5)

.case-content
    +below(alpha)
        opacity 1
    background none
    color white
    position absolute
    bottom 0
    left 2rem
    opacity 0
    z-index 1000
    {z-transition}
    {font-small}
    +above(beta)
        {font-medium}

.active > .case-content
    bottom 2rem
    opacity 1