.wrapper
    padding border-width
    margin 0 auto
    min-height 100vh
    display flex
    flex-direction column
    // background color-secondary
    +above(alpha)
        padding-left border-width * 2
        padding-right border-width * 2
        padding-bottom border-width * .5
        padding-top border-width * 2
    +above(beta)
        width beta
    +above(gamma)
        width gamma

.content
    +above(alpha)
        span(2/3, cycle: 2)
        background color-background
        padding-right 2.5rem
.sidebar
    +above(alpha)
        span(1/3, cycle: 2)
        background color-background
        padding-left 2.5rem

.behind-index
    background color-secondary
    overflow hidden
    cf()

