@font-face
    font-family 'sweden_sans'
    src url('/assets/fonts/swedensans-webfont.eot')
    src url('/assets/fonts/swedensans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/swedensans-webfont.woff2') format('woff2'),
         url('/assets/fonts/swedensans-webfont.woff') format('woff'),
         url('/assets/fonts/swedensans-webfont.ttf') format('truetype'),
         url('/assets/fonts/swedensans-webfont.svg#sweden_sansregular') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'sweden_sans'
    src url('/assets/fonts/swedensansbold-webfont.eot')
    src url('/assets/fonts/swedensansbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/swedensansbold-webfont.woff2') format('woff2'),
         url('/assets/fonts/swedensansbold-webfont.woff') format('woff'),
         url('/assets/fonts/swedensansbold-webfont.ttf') format('truetype'),
         url('/assets/fonts/swedensansbold-webfont.svg#sweden_sansbold') format('svg')
    font-weight bold
    font-style normal