.header
    padding-bottom section-space
    margin-bottom section-space
    border-bottom 1rem solid z-primary
    font-family 'open-sans', arial

.header a
    {plainLink}
    {z-transition}
    &:hover
      color z-accent  