.header
    border-bottom 1rem solid color-secondary
    z-index 5000

.page-title
    text-align center
    {font-base}
    +above(beta)
        {font-large}
    &:before
        content "{ "
        color color-accent
        font-weight bold
    &:after
        content " }"
        color color-accent
        font-weight bold
    margin-bottom 1.5rem
    text-align left
    font-weight 100

.page-nav
    text-align center
    margin 2rem
    {plainList}
    li a
        padding 1rem 2rem
        &:hover
            background color-accent
            color white
    +above(alpha)
        li
            padding 1rem
        li a
            padding 1rem 2rem
