.header
    +below(alpha)
        margin space space 0 space
    border-bottom 1rem solid color-accent
    margin-bottom space

.header--brown
    border-color color-secondary

.site-title
    +below(alpha)
         margin 0 space space 0
    float left
    font-weight 100
    {font-medium}
    margin-bottom space
    &:before
        content "{ "
        color color-accent
        font-weight bold
    &:after
        content " }"
        color color-accent
        font-weight bold

.header span
    display none
    color color-primary--light
    +above(alpha + 10rem)
        display inline
        float left
        margin-left space

.site-nav
    text-align center
    margin space
    {plainList}
    li a
        padding 1rem space
        &:hover
            background color-accent
            color white
    +above(alpha)
        li
            padding 1rem
        li a
            padding 1rem space

