.hire-box
    text-align center
    h3
        font-weight 100
    background color-accent
    color color-background
    {z-transition}
    a
        display block
        padding 2rem
        &:hover
            color white
            text-decoration underline
    &:hover
        transform scale(1.03)