.newsletter-box
    cf()
    position relative
    clear both
    color white
    padding space
    margin-bottom space
    background-color color-accent
    background linear-gradient(to right, rgba(173, 68, 68, 0) 0%, rgba(173, 68, 68, 1) 60%, rgba(173, 68, 68,1) 100%), url('/assets/img/zack-flower2.jpg') no-repeat
    background-size 100% 100%, auto 100%
    background-position left top
    text-align right
    p
        {font-medium}
    +above(beta)
        height 25rem
        text-align right
        background linear-gradient(to right, rgba(173, 68, 68, 0) 0%, rgba(173, 68, 68, 1) 35%, rgba(173, 68, 68,1) 100%), url('/assets/img/zack-flower2.jpg') no-repeat
        background-size 100% 100%, auto 100%
        background-position left top

.newsletter-box form
    text-align right
    p
        {font-base}
        line-height space
    +above(beta)
        {font-medium}
        width 55%
        position absolute
        right space
        bottom space
    +above(gamma)
        width 35%

.email
    padding 1rem
    border none