//post-list
.post-list
    list-style none
    +above(alpha)
        col(1/3)

.post-list__post
    border-bottom 2px solid z-accent
    margin-bottom 4rem

.post
    margin-top 2rem
    padding-bottom 2rem

.post__date
    font-size font-small
    
.post__link
    color z-primary
    text-decoration none
    &:hover
        color z-accent
        {z-transition}

.post__title
    color z-primary
    text-decoration none
    &:hover
        color salmon
        {z-transition}
        
.post-list__archive
    float right
    font-size font-small
    {plainLink}
    