
.post-list
    list-style none

.post-list__post
    border-bottom 2px solid color-secondary
    margin-bottom 4rem

.post__date
    font-size font-small

.post-list__archive
    float right
    font-size font-small
    {plainLink}
