
.post-list
    list-style none

.post-list__title
    {font-large}


.post-list__post
    border-bottom 2px solid color-secondary
    margin-bottom 4rem
    {font-small}

.post__date
    {font}
    color color-primary--light


.post-list__archive
    float right
    {font-small}
    {plainLink}
