//post-list
.post-list
    list-style none

.post-list__post
    margin-top 2rem
    padding-bottom 2rem
    border-bottom 2px solid z-accent
    margin-bottom 4rem

.post-date
    font-size small-font
    
.post-link
    color z-primary
    text-decoration none
    &:hover
        color salmon
        {z-transition}

.post-title
    font-size 3rem
