
//header

.title
    a
        {plainLink}

.header
    padding-bottom section-space
    margin-bottom section-space
    border-bottom 1rem solid black

//footer

.footer
    margin-top section-space

//post-list
.post-list
    list-style none

.post-list__post
    margin-bottom 1rem
    
.post-date
    background-color border-color
    color white
    text-transform uppercase
    font-size 1rem
    display inline-block
    float right