.page-title
    margin-bottom space

::selection
  background color-accent
  color white

::-moz-selection
  background color-accent
  color white

.email
    +below(alpha)
        width 100%
    +above(gamma)
        width 25rem

.hero__text
    +above(gamma)
        margin-bottom 0