.ss-wrapper .animated
  animation-duration 0.25s
  transition-timing-function ease-in
  animation-fill-mode both

.ss-wrapper .animated--fadeIn
  animation-name fadeIn

.ss-wrapper.is-exiting .animated
  animation-direction alternate-reverse

@keyframes fadeIn
    0%
        opacity 0
    100%
        opacity 1