//Styles for animating content entrances.

@keyframes fadeInUp
  0%
    opacity 0
    transform translate3d(0, 10%, 0)

  100%
    opacity 1
    transform none

@keyframes fadeInRight
  0%
    opacity 0
    transform translate3d(10%, 0, 0)

  100%
    opacity 1
    transform none

.wrapper .animated
  animation-duration 250ms
  transition-timing-function ease-in
  animation-fill-mode both

.wrapper .animated--fadeInUp
  animation-name fadeInUp

.wrapper .animated--fadeInRight
  animation-name fadeInRight

.wrapper.is-exiting .animated
  animation-direction alternate-reverse