.wrapper
    padding border-width border-width 0 border-width
    min-height 100%
    min-height 100vh
    display flex
    flex-direction column
    +above(alpha)
        padding-left mobile-pad * 2
        padding-right mobile-pad * 2
        padding-bottom mobile-pad * .5
        padding-top mobile-pad * 4