.wrapper
    padding border-width
    margin 0 auto
    min-height 100%
    min-height 100vh
    display flex
    flex-direction column
    +above(alpha)
        padding-left border-width * 2
        padding-right border-width * 2
        padding-bottom border-width * .5
        padding-top border-width * 2
    +above(beta)
        width beta
    +above(gamma)
        width gamma