*, &:before, &:after
	box-sizing border-box

presets(zack)

html
	font-family 'depot-new-web', sans-serif
	font-size 13px
	+above(400px)
		font-size 15px
	+above(800px)
		font-size 16.5px

h1,h2,h3,h4,h5,h6 
	font-weight 400
