<div class="box">
    <div class="box__content animated animated--slideInRight">
        <h3 class="box__title">box.</h3>
        <div class="box__marker"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, minima dolorum sit, ea maiores voluptatum iste? Aspernatur et dolore, similique, corporis possimus quis nobis vero molestiae. Similique assumenda culpa voluptas debitis recusandae quos consequuntur voluptate et. Molestias dolorum, accusantium ut!</p>
    </div>
</div>