<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<link href="//www.google-analytics.com" rel="dns-prefetch">
		<link href="//plus.google.com/+ZacharyCote" rel="author">
		<link rel="stylesheet" href="{{ "assets/css/main.css" | prepend: site.baseurl }}">

		<!-- typekit -->
		<script type="text/javascript">
		  (function(d) {
		    var config = {
		      kitId: 'crj2vwa',
		      scriptTimeout: 3000
		    },
		    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
		  })(document);
		</script>

	</head>

	<body>
