<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//plus.google.com/+ZacharyCote" rel="author">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.min.css">

</head>

<body class="border">

    <script src="//use.typekit.net/crj2vwa.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>