<div class="post-list-box">
    <h2 class="post-list__heading">Latest Posts</h2>
    <div class="accent-line--center"></div>
    <div class="latest-post">
          {% for post in site.posts limit:1 %}
        <li class="post-list__post">
            <h3 class="post-list__title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <span class="post-list__date">{{ post.date | date: "%m.%d.%y" }}</span>
        </li>
        {% endfor %}
    </div>
    <ul class="post-list">
        {% for post in site.posts limit:3 offset:1 %}
        <li class="post-list__post">
            <h3 class="post-list__title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}<span class="post-list__date">{{ post.date | date: "%m.%d.%y" }}</span>
</a></h3>
        </li>
        {% endfor %}
        <a href="/blog" class="post-list__archive">Read Older Articles and Case Studies.</a>
    </ul>
</div>