// .block {}
// .block__element {}
// .block--modifier {}

//grid+breakpoints
@import 'jeet/*'
@import 'rupture/*'

//base styles
@import 'partials/normalize'
@import 'typographic/*'
@import 'partials/defaults'

// edit()

.block
	padding 1rem
	width 100%
	+above(400px)
		padding 1rem

// .wrap
// .wrap__inner
