.accent-line--center
    height 1rem
    width 14rem
    background color-accent
    margin 0 auto
    margin-bottom 2.5rem

.accent-line
    height 1rem
    width 14rem
    background color-accent
    margin-bottom 2.5rem
    margin-right auto

.accent-line--alt
    height 1rem
    width 14rem
    margin-left auto
    background color-primary
    margin-bottom 2.5rem