.wrapper
    min-height 100vh
    display flex
    flex-direction column

.content
    background color-background
    +above(beta)
        span(2/3, cycle: 2)
        padding-right 2.5rem
.sidebar
    background color-background
    +above(beta)
        span(1/3, cycle: 2)
        padding-left 2.5rem

.behind-index
    +below(beta)
        margin space
        margin-bottom 0rem
    background color-secondary
    overflow hidden
    cf()

.inner-wrap
    background white