.header
    align(vertical)
    margin 0
    padding 0
    color color-background
    width 100%
    text-align center

.site-title
    font-weight 100
    {font-xlarge}
    margin-bottom 1rem
    width 100%
    &:before
        content "{ "
        color color-primary
        font-weight bold
    &:after
        content " }"
        color color-primary
        font-weight bold

