.header
    position absolute
    width 100%
    text-align center
    top 2rem
    z-index 1
    color color-background

.site-title
    font-weight 100
    {font-medium}
    margin-bottom 1rem
    &:before
        content "{ "
        color color-primary
        font-weight bold
    &:after
        content " }"
        color color-primary
        font-weight bold

