.hire-box
    text-align center
    background-color color-primary
    color color-background
    {z-transition}
    a
        display block
        padding 2rem
        &:hover
            color color-background
            text-decoration underline
    h3
        font-weight 100
        {font-medium}
    +above(gamma)
        h3
            {font-xmedium}
        padding 4rem

