.hire-box
    background-color color-primary
    color color-background
    {z-transition}
    a
        display block
        padding space
        &:hover
            color color-background
            text-decoration underline
    &:hover
        padding .5rem
    h3
        font-weight 100
        {font-medium}
        +above(gamma)
            {font-xmedium}