//zackcote.com main stylesheet

//vendor
@import 'vendor/jeet/*'
@import 'vendor/rupture/*'
@import 'vendor/normalize'

//partials
@import 'partials/variables'
@import 'partials/defaults'
@import 'partials/unsorted'

// edit()

h1,h2,h3,h4,h5,h6
	margin 0 

body
	font-size 1rem
	font-family  "depot-new-web" 
	margin 0
	height auto
	line-height 1.3rem

.wrap
	display flex
	flex-direction column
	min-height 100vh

.header
	color darken(white, 10%)
	padding 2rem 1rem .5rem 1rem
	background zack-blue
	max-width 35rem
	+above(50rem)
		padding 2rem 3rem 1rem 3rem

.content
	flex 1
		

// .content
// .footer

// .post
// .post__header
// .post__content