.newsletter-box
    +below(alpha)
        background-size auto 100%
        background-position left
        &:after
            content " "
            width 100%
            height 100%
            position absolute
            top 0
            background alpha(color-accent, 1)
    cf()
    position relative
    clear both
    color color-background
    background-color color-accent
    background-size auto 100%
    background-position left top
    background url('/assets/img/zack-flower2.jpg') no-repeat
    background-size cover
    background-position center
    text-align right
    h2
        text-align right
    +above(beta)
        height 40rem

.newsletter-box__inner
    padding 2rem
    p
        margin-right 0
    +above(alpha)
        max-width 40rem
        align(vertical)
        right 6rem
        float right


.email
    border none
    padding 1rem
    +below(beta)
        width 100%
        padding 2rem 2rem
    +above(gamma)
        width 25rem