.newsletter-box
    cf()
    position relative
    clear both
    color color-background
    padding space
    background-color color-accent
    background linear-gradient(to right, rgba(173, 68, 68, 0) 0%, rgba(173, 68, 68, 1) 60%, rgba(173, 68, 68,1) 100%), url('/assets/img/zack-flower2.jpg') no-repeat
    background-size 100% 100%, auto 100%
    background-position left top
    text-align center
    +above(beta)
        height 40rem
        background url('/assets/img/zack-flower2.jpg') no-repeat
        background-size cover
        background-position center

.newsletter-box__inner
    align(both)
    max-width 60rem

.email
    border none
    padding 1rem
    +below(beta)
        width 100%
        padding 2rem 2rem
    +above(gamma)
        width 25rem