.post-list
    text-align left
    list-style none
    margin-bottom 0
    cf()

.post-list__title
    {font-xmedium}

.post-list__date
    {font-small}
    color color-primary--light

.post-list__post
    border-bottom 2px solid color-secondary
    margin-bottom 2.5rem
    {font-small}

.post-list__archive
    float right
    {font-small}
    {plainLink}

.post-list__heading
        text-align center