.post-list
    max-width none
    list-style none
    margin 0
    p
        max-width none

.post-list-box
    background color-accent
    color color-background
    +below(beta)
        text-align left
    text-align center
    padding 2rem 0

.post-list__post
    margin-bottom 2rem

.post-list__date
    {z-transition}
    {font-small}
    font-weight 100

.post-list__title
    font-weight 100
    {font-medium}
    +above(beta)
        {font-xmedium}

.latest-post
    float left