.page-title
    margin-bottom space

::selection
  background color-accent
  color color-background

::-moz-selection
  background color-accent
  color color-background

.hero__text
    +above(gamma)
        margin-bottom 0