//global colors
color-primary        = #48435E
color-primary--light = lighten(color-primary, 30%)
color-secondary      = #3e372d
color-accent         = #AD4444
color-background     = white

//project colors
color-baywood = #1c7bac
color-eye     = #EC407A

