html
    font-size 62.5%

body
    {font-base}
    font-family 'sweden_sans', Arial, sans-serif
    background color-background
    color color-primary

img
    max-width 100%
    height auto

p, ul, ol, .highlight
    margin-bottom 2.5rem
    max-width 60rem
    margin-left auto
    margin-right auto
    +below(beta)
        margin 2rem 3rem

ul
    list-style-position inside

main
    flex 1

h1
    {font-large}
    +above(beta)
        {font-xlarge}

h2, h3
    {font-xmedium}
    +above(beta)
        {font-large}

h4, h5, h6
    {font-base}
    +above(beta)
        {font-medium}
        margin-bottom 1rem

h2
    margin-bottom 1rem

a
    {z-transition}
    text-decoration none
    color inherit
    &:hover
        color color-accent

p a,.post__content a
    color color-accent
    font-weight bold
    &:hover
        text-decoration underline

p code
    background color-primary
    color color-background
    padding .25rem .5rem

.button
    padding 1rem space 1rem space
    border none
    color color-background !important
    font-weight 200
    background color-primary
    display inline
    text-align center
    {z-transition}
    a
        color color-background
    &:hover
        background color-secondary
        cursor pointer
        color color-background
    +below(beta)
        width 100%
        display block

input
    font-family 'sweden_sans', Arial, sans-serif
    -webkit-appearance none

.page-title
    margin-bottom space

::selection
  background color-accent
  color color-background

::-moz-selection
  background color-accent
  color color-background